# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Testing
.jest
coverage

# Production
.next
out
dist
build

# Misc
.DS_Store
.env
.env.local
.env.production.local
.env.development.local
.env.test.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
.project
.classpath

# Git
.git
.gitignore

# CI/CD
.github
.gitlab-ci.yml
.circleci

# Database
.sqlite
.db
postgres_data
