@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@600&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;







.black_btn {
  @apply font-poppins text-white font-normal text-center rounded-2xl border border-black bg-black py-1.5 px-5   hover:bg-white hover:text-black  flex items-center justify-center text-xl w-11/12 m-auto mt-5 gap-3;
}

.nav_btn {
  @apply font-poppins text-white font-normal text-center hover:text-white/80;
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }


  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
